<nav class="navbar navbar-light navbar-fixed-top" style="background-color: #ffffff;" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('users_list') }}">Voir les utilisateurs</a></li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('task_create') }}">Créer une tâche</a></li>
                    <li><a href="{{ path('tasks_list') }}">Voir les tâches</a></li>
                    <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                    <li><a href="{{ path('user_edit', {'id' : app.user.id}) }}">Profil</a></li>
                {% else %}
                    <li><a href="{{ path('user_create') }}">S'inscrire</a></li>
                    <li><a href="{{ path('login') }}">Se connecter</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>