{% extends 'base.html.twig' %}

{% block header_title %}<h1>Modifier <strong>{{ user.username }}</strong></h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
            {{ form_start(form) }}
            {{ form_error }}

            {% include '/form/form_errors.html.twig' %}

                {{ form_label(form.username, 'Nom d\'utilisateur') }}
                {{ form_widget(form.username, {'attr': {
                    'class': 'form-control'
                }}) }}

                {{ form_label(form.password.first, 'Mot de passe') }}
                {{ form_widget(form.password.first, {'attr': {
                    'class': 'form-control',
                    'minlength': '8'
                }}) }}

                {{ form_label(form.password.second, 'Confirmez votre mot de passe') }}
                {{ form_widget(form.password.second, {'attr': {
                    'class': 'form-control',
                    'minlength': '8'
                }}) }}

                {{ form_label(form.email, 'Adresse e-mail') }}
                {{ form_widget(form.email, {'attr': {
                    'class': 'form-control',
                }}) }}

            {{ form_rest(form) }}
            <button type="submit" class="btn btn-success pull-right">Modifier</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
